.footer-1 {
    position        : fixed;
    bottom          : 0;
    right           : 0;
    left            : 0;
    background-color: aqua;
}


.divider:after,
.divider:before {
    content   : "";
    flex      : 1;
    height    : 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}